* {
  margin: 0;
  padding: 0;
}

.App {
  max-width: 1200px;
  padding: 30px 15px;
}

.dropdown {
  cursor: pointer;
  margin: 0 0 20px 0;
}

.dropdown-content {
  display: none;
}

.dropdown-content.active {
  display: block;
}

.dropdown-list {
  list-style: none;
}

.dropdown-item {
  padding: 10px 0 10px 10px;
  background: #f9f9f9;
  margin: 0 0 1px 0;
}

.watch-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.watch-item {
  border: 1px solid black;
  padding: 20px;
}

.watch-item ul {
  list-style: none;
}